.page-header {
    background: linear-gradient(90deg, rgba(227, 227, 163, 1) 0%, rgba(250, 209, 250, 1) 100%);
}

.assignedProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom,  #cdeb8b 0%, #cdeb8b 100%);
}

.assignedProjectsHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button-spacing {
    margin-left: 15px;
}
