<div *ngIf="isTeamLeaderRole()" class="page-header m-3 p-2">
    <h1>Projektų valdymo juosta</h1>
    <button class="btn btn-secondary" (click)="navigateToCreateProject()" id="addProjectButton">Pridėti projektą</button>
</div>

<div *ngIf="isDirectorRole()" class="page-header m-3 p-2">
    <h1>Administravimo valdymo juosta</h1>
    <button class="btn btn-secondary" (click)="navigateToAddUser()" id="addUserButton">Pridėti naudotoją</button>
</div>


<div class="assignedProjects m-3 p-2">
    <div class="assignedProjectsHeading">
        <h1 class="m-0" id="projectTeamMembersLabel">Priskirti projektai ({{assignedProjects.length}})</h1>
    </div>
    <mat-card *ngFor="let project of assignedProjects" class="my-2">
         <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="openProjectPage(project.id)" id="addNewTaskButton">Peržiūrėti</button>
          </mat-card-actions>
    </mat-card>
</div>