.page-header {
    background: linear-gradient(90deg, rgba(227, 227, 163, 1) 0%, rgba(250, 209, 250, 1) 100%);
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom,  #cdeb8b 0%, #cdeb8b 100%);
}

.team-heading {
    width: 100%;
}

.button-spacing {
    margin-left: 15px;
}

.assignedTasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom,  #cdeb8b 0%, #cdeb8b 100%);
}

.assignedTasksHeading {
    width: 100%;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.timeAlert {
    animation: blink 1s step-end infinite;
}

.projectStatistics {
    background: linear-gradient(to bottom,  #cdeb8b 0%, #cdeb8b 100%);
}

.statistics-heading {
    width: 100%;
}