<div *ngIf="isTeamLeaderRole()" class="page-header m-3 p-2">
    <h1>Projekto valdymo juosta</h1>
    <button class="btn btn-secondary" (click)="addTeamMembers()" id="addTeamMembersButton">Pridėti komandos narius (-į)</button>
    <span class="button-spacing"></span>
    <button class="btn btn-secondary" (click)="finishProject()" id="finishProjectButton">Užbaigti projektą</button>
</div>

<div *ngIf="isTeamLeaderRole()" class="team-members mx-3 p-2">
    <div class="team-heading">
        <h2 class="m-0" id="projectTeamMembersLabel">Projekto komandos nariai</h2>
    </div>
    <mat-card *ngFor="let teamMember of project.teamMembers" class="my-2">
        <mat-card-content>
            <img mat-card-image src="assets/images/user.png" alt="Vartotojo nuotrauka">
            <mat-card-title>{{ teamMember.firstname }} {{ teamMember.lastname }}</mat-card-title>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addTasksToTeamMember(teamMember.id)" id="addNewTaskButton">Priskirti naują užduotį</button>
          </mat-card-actions>
    </mat-card>
</div>

<div class="assignedTasks m-3 p-2">
    <div class="team-heading">
        <h2 class="m-0" id="projectTeamMembersLabel">Priskirtos projekto užduotys ({{assignedTasks.length}})</h2>
    </div>
    <mat-card *ngFor="let task of assignedTasks" class="my-2">
        <mat-card-header>
            <mat-card-title>{{task.name}}</mat-card-title>
            <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="openTaskPage(task.id)" id="openTaskPageButton">Peržiūrėti</button>
          </mat-card-actions>
    </mat-card>
</div>