<div *ngIf="!isTeamMemberRole()" class="page-header m-3 p-2">
    <h1>Projekto valdymo juosta</h1>
    <button class="btn btn-secondary" [disabled]="isProjectFinished()" (click)="addTeamMembers()" id="addTeamMembersButton">Pridėti komandos narius (-į)</button>
    <span class="button-spacing"></span>
    <button class="btn btn-secondary" [disabled]="isProjectFinished()" (click)="finishProject()" id="finishProjectButton">Užbaigti projektą</button>
</div>

<div *ngIf="!isTeamMemberRole()" class="team-members mx-3 p-2">
    <div class="team-heading">
        <h2 class="m-0" id="projectTeamMembersLabel">Projekto komandos nariai</h2>
    </div>
    <mat-card *ngFor="let teamMember of project.teamMembers" class="my-2">
        <mat-card-content>
            <img mat-card-image src="assets/images/user.png" alt="Vartotojo nuotrauka">
            <mat-card-title>{{ teamMember.firstname }} {{ teamMember.lastname }}</mat-card-title>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [disabled]="isProjectFinished()" (click)="addTasksToTeamMember(teamMember.id)" id="addNewTaskButton">Priskirti naują užduotį</button>
          </mat-card-actions>
    </mat-card>
</div>

<div class="assignedTasks m-3 p-2">
    <div class="team-heading">
        <h2 class="m-0" id="projectTeamMembersLabel">Priskirtos projekto užduotys ({{assignedTasks.length}})</h2>
    </div>
    <mat-card *ngFor="let task of assignedTasks" class="my-2">
        <mat-card-header>
            <mat-card-title>{{task.name}}</mat-card-title>
            <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
            <mat-card-subtitle>Statusas: {{ convertTaskStatusToLithuaniaEnum(task) }}</mat-card-subtitle>
            <img *ngIf="task.warned" id="clockAlertIcon" mat-card-image src="assets/images/clock-alert.png" alt="Laiko įspėjimo nuotrauka" width="32" height="32" [ngClass]="'timeAlert'">
          </mat-card-header>
          <mat-card-actions class="d-block">
            <div>
                <button mat-button [disabled]="isProjectFinished()" (click)="openTaskPage(task.id)" id="openTaskPageButton">Peržiūrėti</button>
            </div>
            <div>
                <button *ngIf="!isTeamMemberRole()" mat-button (click)="openTaskStatistics(task.id)" id="taskStatisticsButton">Peržiūrėti statistiką</button>
            </div>
          </mat-card-actions>
    </mat-card>
</div>

<div *ngIf="!isTeamMemberRole() && projectTaskStatistics" class="projectStatistics mx-3 p-2">
    <div class="statistics-heading mb-2">
        <h1 class="m-0" id="projectTeamMembersLabel">Projekto statistika</h1>
    </div>

    <div class="projectStartDate">
        <h2 class="d-inline">Projekto pradžios data: </h2> 
        <h3 class="d-inline"><b>{{project.startDate | date:'yyyy-MM-dd'}}</b></h3>
    </div>

    <div class="projectEndDate">
        <h2 class="d-inline">Numatoma projekto pabaigos data: </h2> 
        <h3 class="d-inline"><b>{{project.endDate| date:'yyyy-MM-dd'}}</b></h3>
    </div>

    <div *ngIf="!isProjectFinished()" class="projectNotFinished">
        <h2 class="d-inline">Projektas vykdomas: </h2> 
        <h3 class="d-inline"><b>{{calculateIngoingProjectDate()}} dienų</b></h3>
    </div>

    <div *ngIf="isProjectFinished()" class="projectFinishedDays">
        <h2 class="d-inline">Projektas baigtas prieš: </h2> 
        <h3 class="d-inline"><b>{{calculateFinishedProjectDate()}} dienų</b></h3>
    </div>

    <div *ngIf="isProjectFinished()" class="projectFinished">
        <h2 class="d-inline">Projektas buvo vykdomas: </h2> 
        <h3 class="d-inline"><b>{{calculateFinishedProjectDuration()}} dienų</b></h3>
    </div>

    <div *ngIf="isProjectFinished()" class="projectFinishedLate">
        <h2 class="d-inline">Projektas buvo vėluotas: </h2> 
        <h3 class="d-inline"><b>{{calculateFinishedProjectLateDate()}} dienų</b></h3>
    </div>

    <div *ngIf="isProjectFinished()" class="projectFinishedEarlier">
        <h2 class="d-inline">Projektas buvo baigtas anksčiau: </h2> 
        <h3 class="d-inline"><b>{{calculateFinishedProjectEarlierDate()}} dienom</b></h3>
    </div>

    <div *ngIf="isProjectFinished()" class="projectFinishedComment">
        <h2 class="d-inline">Projekto užbaigimo komentaras: </h2> 
        <h3 class="d-inline"><b>{{getFinishedProjectComment()}}</b></h3>
    </div>

    <div class="projectTeamMembersCount">
        <h2 class="d-inline">Projekto dalyvių skaičius: </h2> 
        <h3 class="d-inline"><b>{{getProjectTeamMembersCount()}} dalyviai</b></h3>
    </div>

    <div class="projectTasksCount">
        <h2 class="d-inline">Projekto visų užduočių kiekis: </h2> 
        <h3 class="d-inline"><b>{{getProjectTasksCount()}} užduotys</b></h3>
    </div>

    <div class="projectFinishedTasksCount">
        <h2 class="d-inline">Projekto užbaigtų užduočių kiekis: </h2> 
        <h3 class="d-inline"><b>{{getFinishedTasksCount()}} užduotys</b></h3>
    </div>
    
    <div class="projectActiveTasksCount">
        <h2 class="d-inline">Projekto tebevykstančių užduočių kiekis: </h2> 
        <h3 class="d-inline"><b>{{getActiveTasksCount()}} užduotys</b></h3>
    </div>

    <div class="projectLateDoneTasksCount">
        <h2 class="d-inline">Pavėluotai atliktų projekto užduočių kiekis: </h2> 
        <h3 class="d-inline"><b>{{getLateDoneTasksCount()}} užduotys</b></h3>
    </div>

    <div class="projectEarlierDoneTasksCount">
        <h2 class="d-inline">Anksčiau atliktų projekto užduočių kiekis: </h2> 
        <h3 class="d-inline"><b>{{getEarlierDoneTasksCount()}} užduotys</b></h3>
    </div>
</div>