<div mat-dialog-content>
    <div class="text-center">Užduoties priskyrimas {{projectUserData.teamMember.firstname}} {{projectUserData.teamMember.lastname}}</div>
    
    <form [formGroup]="taskAdditionForm" class="text-center">
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="taskName" placeholder="Užduoties pavadinimas" required="required">
            <div *ngIf="submitted && taskAdditionForm.controls['taskName'].errors" class="text-danger">
                <p *ngIf="taskAdditionForm.get('taskName')?.hasError('required')">Užduoties pavadinimas yra privalomas.</p>
            </div>
        </div>

        <div class="mb-3">
            <textarea class="form-control" formControlName="taskDescription" placeholder="Užduoties aprašymas" required="required"></textarea>
            <div *ngIf="submitted && taskAdditionForm.controls['taskDescription'].errors" class="text-danger">
                <p *ngIf="taskAdditionForm.get('taskDescription')?.hasError('required')">Užduoties aprašymas yra privalomas.</p>
            </div>
        </div>

        <div class="mb-3">
            <label for="taskDocument">Pasirinkite užduočiai skirtą dokumentą (PDF, DOC, DOCX)</label>
            <input type="file" class="form-control" id="taskDocument" (change)="onTaskDocumentSelected($event)" accept=".pdf, .doc, .docx" />
        </div>
        
        
        <div class="mb-3">
            <label for="startDate">Užduoties pradžios data</label>
            <input type="date" class="form-control" formControlName="startDate" required="required">
            <div *ngIf="submitted && taskAdditionForm.controls['startDate'].errors" class="text-danger">
                <p *ngIf="taskAdditionForm.get('startDate')?.hasError('required')">Užduoties pradžios data yra privaloma.</p>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="endDate">Užduoties pabaigos data</label>
            <input type="date" class="form-control" formControlName="endDate" required="required">
            <div *ngIf="submitted && taskAdditionForm.controls['endDate'].errors" class="text-danger">
                <p *ngIf="taskAdditionForm.get('endDate')?.hasError('required')">Užduoties pabaigos data yra privaloma.</p>
            </div>
        </div>

        <div class="mb-3">
            <label for="taskPriority">Prioritetas</label>
            <select class="form-control" formControlName="taskPriority">
                <option *ngFor="let priority of taskPriorityValues" [value]="priority">
                    {{ priority }}
                  </option>
              </select>
        </div>

        <span *ngIf="serverError" class="text-danger d-block text-center">{{ serverError }}</span> 
    </form>
</div>

<div mat-dialog-actions class="justify-content-center">
    <button class="btn btn-secondary" type="submit" (click)="addNewTaskToTeamMember()">Pridėti užduotį komandos nariui</button>
</div>